<h1><%= account_name %></h1>

<button class="upload_xlsx_btn" type="button">파일 선택</button>
<form class="upload_xlsx_form" action="/admin/upload_xlsx" method="post"></form>

<% for(var i=0; i<items.length; i++){ %>
<div class='read_accounts'>
	<span><%= items[i].code %></span>
	<span><%= items[i].name %></span>
	<span><%= items[i].size %></span>
	<span><%= items[i].registered_date %></span>
	<span><%= items[i].purchase_code %></span>
	<span><%= items[i].account_id %></span>
</div>
<% } %>

