<h1><%= account_name %></h1>

<form id="upload_xlsx_form" action="/admin/upload_xlsx?acc_id=<%= account_id %>&acc_name=<%= account_name %>" enctype="multipart/form-data" method="post">
	<input id='is_selected' type="file" name="uploaded" value="파일 선택">
</form>
<button id="upload_xlsx_btn" type="button">확인</button>

<% for(var i=0; i<items.length; i++){ %>
<div class='read_items'>
	<span><%= items[i].code %></span>
	<span><%= items[i].name %></span>
	<span><%= items[i].size %></span>
	<span><%= items[i].registered_date %></span>
	<span><%= items[i].purchase_code %></span>
	<span><%= items[i].account_id %></span>
</div>
<% } %>

<script type="text/javascript" src="/js/upload_xlsx.js"></script>
