<h1><%= account_name %></h1>

<form id="upload_xlsx_form" action="/admin/upload_xlsx?acc_id=<%= account_id %>&acc_name=<%= account_name %>" enctype="multipart/form-data" method="post">
	<input id='is_selected' type="file" name="uploaded" value="파일 선택">
</form>
<button id="upload_xlsx_btn" type="button">확인</button>

<% for(var i=0; i<items.length; i++){ %>
<div class='read_items'>
	<span><%= items[i].code %></span>
	<span><%= items[i].registered_date %></span>
	<span><%= items[i].name %></span>
	<span><%= items[i].size %></span>
	<span><%= items[i].purchase_cost %></span>
	<button class='generate_qrcode_btn' type='button'>qrcode</button>
	<button class='client_display_check_btn' type='button'>손님용 화면</button>
</div>
<% } %>

<form id="generate_qrcode_form" action="" method="post"></form>
<form id="client_display_check_form" action="" method="get"></form>


<script>
	const account_id = <%= account_id %>;
	const items = <%- JSON.stringify(items) %>;
</script>
<script type="text/javascript" src="/js/control_items_by_accounts.js"></script>
